

.gameboard {
	width: 600px;
	height: 600px;
	position: relative;
	top: 150px;
	left: 90px;

}

.clear {
	clear: both;

}


.row1, .row2, .row3 {
	width: 500px;


}

#one, #two, #four, #five {
	border-bottom: 5px solid #ff1493;
	border-right: 5px solid #ff1493;
}

#three, #six {
	border-bottom: 5px solid #ff1493;

}

#seven, #eight {
	border-right: 5px solid #ff1493;

}


.tile {
	width: 150px;
	height: 150px;
/*	border: 5px solid #ff1493;
*/	float: left;
	background-color: none; 

-o-transition: .5s;
-ms-transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
transition: .5s;
}

.tile:hover {
background-color: #ff1493;

}

}

#one {
	background-image: url('Blank2.png');
	background-size: cover;
	


}

#two {
	background-image: url('Blank2.png');
	background-size: cover;
	 
}



#three {
	background-image: url('Blank2.png');
	background-size: cover;
	

}

#four {
	background-image: url('Blank2.png');
	background-size: cover;
	
}


#five {
	background-image: url('Blank2.png');
	background-size: cover;
	
}



#six {
	background-image: url('Blank2.png');
	background-size: cover;
	


}

#seven {
	background-image: url('Blank2.png');
	background-size: cover;
	
}

#eight {
	background-image: url('Blank2.png');
	background-size: cover;
	
}

#nine {
	background-image: url('Blank2.png');
	background-size: cover;
	


}


body {
	background-image: url("sheride.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

img {
width: 150px;
height: 150px;

}


#push {
	background-color: black;
	float: right;
	color: white;
	position: relative;
	right: 150px;
	bottom: 150px;
	border-radius: 10px;
		}
